  
  body{
    width:300px;
    height: 550px;
    position:relative;
    border:solid 3px black;
    border-radius:10px;
    margin:10px auto;
    
  }

   h1{
    margin-top:10px;
    font-size: large;
    text-align: center;
    margin:25px 5px 5px 5px;
  }

  #friendsContainer{
    margin:5px 5px 15px 5px;
    display: flex;
    justify-content: center;
  }

  .friendsContainerItem{
    margin:0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.costItem{
  border-bottom: solid 1px #dddddd;
  margin: 2px 20px;
}
  
.costItemDate, .costItemFriend, .costItemCost{
  margin:0px 5px;
  display: inline;
}

.costItemCategoryImage{
  height:20px;
  margin:0px 5px -3px 5px;
}
 
#menuContainer{
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
   transform: translateX(-50%);
  left:50%;

  bottom: 40px;
  display: flex;
  justify-content: center;
}

.menuItem{
  height: 50px;
  width: 50px;
  margin: 0px 10px;
  background-color: khaki;
  border-radius: 15%;
  cursor: pointer;
}

.menuItemImage{
  height: 50px;
}
  
  